*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#1A0B2E;
    overflow-x: hidden;  
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.btn-bg-color{
    background:linear-gradient(180deg,#ffcc33,#ff2fb3, #7b2cff)
}
.color{
    color:#ff2fa5f5;
}


nav h2{
    padding-left: 200px;
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin-top:30px;
    /* padding-bottom:2rem; */
    
}

nav>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    max-width: 218px;
    font-size:1.2rem;
}
nav>div>li{
     list-style:none;
}
nav>div>li>a{
    text-decoration: none;
    color: white;
}

nav>button{
    font-weight:500;
    font-size: 1rem;
    background:linear-gradient(90deg,#ffcc33,#ff2fb3, #7b2cff);
    border:none;
    border-radius: 999px;
    padding:  5px 10px;
    cursor: pointer;
    color: white;
   

}
main{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 2000px;
    position: relative;
    max-height: 70vh;
    padding: 0 auto;


}

 .banner-container>img{
    width: 100%;
    margin: 0 auto;
    max-width: 1990px;
    margin-top: 2rem;

 }
 .banner-container .img2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:999px;
    border: 2px solid #2A186C;
    position: absolute;
    top: 50%;
    left:50%;
    right: 50%;
    bottom: 50%;
    
    
 }
 .banner-container .img3{
    display: flex;
    justify-content: center;
    align-items: center;
     position: absolute;
    top: 50%;
    left:50%;
    bottom: 50%;
    right: 50%;
 }
 
.banner-container{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 3rem;
}
.banner-container h1{
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin-top: -370px;
    position: relative;
    z-index: 10;
}
.banner-container p{
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 40px;
    /* line-height: 1.6; */
}
.banner-container button{ 
    padding:5px 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
   

}
.banner-container .ff{
  color: green;
   background: transparent;
   padding-left: 10px;
   border: 1px solid rgb(100, 231, 100);
   text-align: center;
}
.newbadge {
    position: absolute;
    top: -156px; 
    right: -150px; 
    background-color: #39FF14;
    color: black;
    font-size: 1.5rem;
    font-weight:700;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.5);
}

.about-section{
    margin-top: 300px;
    text-align: center;
}
.about-container>h1{
    color: white;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 1rem;
}
.about-container>p{
    color:#FFFFFF;
    max-width: 1000px;
    max-height: 900px;
    margin: 0 auto;
    padding-bottom:2rem;
    font-size: 1rem;
    line-height:1.6;
    
}

.about-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7rem;
}
.number-section{
    margin-top: 7rem;
    margin-bottom: 4rem;
}
.number-section {
    display: flex;
    justify-content:center;
    align-items: center;
}

.number-section .number-container{
    display: flex;
    justify-content: space-evenly;
    gap: 8rem;
}
 .number h1{
    color: #39FF14;
    font-weight:black;
    text-align: center;
    font-size: 48px;
}
.number p{
    color: white;
    line-height: 1.6;
}
aside{
    max-width: 1900px;
   
    background-color: #230E3D;
    color:white;
    text-align: center;
    padding-top: 120px;
    border-radius: 5px;
    padding-bottom: 125px;
}

.aside-container {
    max-width: 1300px;
     margin: 0 auto;
    
}
.aside-container>*{
    border: 2px solid rgba(53, 17, 101, 0.4);
    background-color: #230E3D;
    padding: 20px;
    border-radius: 30px;
    display: flex;
     flex-direction: column;
    align-items: flex-start;
    text-align: left; 
}
  .card-1 img{
    padding-bottom: 20px;
  }

  .card-1 h4{
     font-size: 24px;
     font-weight: 600px;
     max-width: 300px;
     padding-bottom: 20px;
  }
  .card-2 img{
    padding-bottom: 20px;
  }

  .card-2 h4{
     font-size: 24px;
     font-weight: 600px;
     max-width: 300px;
     padding-bottom: 20px;
  }
  .card-3 img{
    padding-bottom: 20px;
  }

  .card-3 h4{
     font-size: 24px;
     font-weight: 600px;
     max-width: 300px;
     padding-bottom: 20px;
  }
  .card-4 img{
    padding-bottom: 20px;
  }

  .card-4 h4{
     font-size: 24px;
     font-weight: 600px;
     max-width: 300px;
     padding-bottom: 20px;
  }
  .card-5 img{
    padding-bottom: 20px;
  }

  .card-5 h4{
     font-size: 24px;
     font-weight: 600px;
     max-width: 300px;
     padding-bottom: 20px;
  }
 .card-1{                                          
      grid-area: header; 
      max-width: 300px; 
      padding: 110px 40px;
      margin-bottom: 10px;               
                           
 }
.card-2{
    grid-area: nav;
    max-width: 800px;
}
.card-3{
    grid-area: main;
    max-width: 800px;

}
.card-4{
    grid-area: aside;
    max-width: 800px;
}
.card-5{
    grid-area: foot;
    max-width:400px;
}

.aside-container{
    display: grid;
    gap: 20px;
    grid-template-areas:"header  nav    nav     nav  nav  "
                       "header   nav     nav     nav  nav "
                        "header   main  main    main  main "
                        "aside   aside   aside  foot  foot "
                        "aside   aside   aside   foot foot ";

}
  section{
    margin-top: 130px;
    text-align: center;
    max-width: 2000px;
    background-color: #1A0B2E;
    
  }
  .video-sec h1{
    margin-bottom: 2.5rem;
    font-size: 48px;
    font-weight: 600;
    color: white;
  }
  .video-sec{
    margin-bottom: 8rem;
  }


.video-container{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content:space-around;

}
.video{
    border-radius:25px;
    background-color: #230E3D;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
.video iframe{
    border-radius: 26px;
    overflow: hidden;
    /* pointer-events: none; */
}
.play-btn{
    position: absolute;
    top: 37%;
    width: 60px;
    height:60px;
    left: 40%;
    background: linear-gradient(45deg, #f093fb 0%, #f5576c 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;

}
.video h3,p,h5{
    padding: 1rem 1rem;
    text-align: left;
    line-height: 1.6;
}
.video h3{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.video p{
    font-size: 1rem;
    font-weight: 400;
    color:white;
    max-width: 340px;
    line-height: 1.6;
}
.video h5{
    color: #00FF88;
    font-weight: 500;
    font-size: 16px;
    padding: 1rem;
    text-align:left;
}

.podcast-sec{
    max-width: 1700px;
    background-color: #1A0B2E;
    margin:7.5rem 15rem;
    
}
.podcast-sec h1{
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 48px;
    color: white;
}
.podcast-container{
    max-width: 1400px;
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 5.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    width: 100%;
    background-color: #230E3D;
    color: white;
    
}

.podcast-container>img{
    padding-right: 3rem;
}
.podcast-text h2{
    text-align: left;
}
.podcast-text>p{
    text-align:left;
    line-height: 1.6;
}
.podcast-text .social-icons{
    display: flex;
    gap: 20px;
    margin-top: 0.5rem;
}
.social-icons img{
    border: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    max-width: 60PX;
    max-height: 60PX;
}

footer{
    max-width: 1900px;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 100%;
    margin: 0 auto;
}

.footer-container{
    padding: 8rem;
    text-align: center;
    width: 100%;
}
.footer-container h1{
    font-weight: 900;
    font-size: 5rem;
    color: white;
    padding-bottom: 2rem;
}
 .icon{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: white;
 }
 .footer-container p{
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 16px;
    font-weight: 400;
 }






















.hide{
    display: none;
}
@media screen and (max-width:576px){
    
    nav{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    max-width: 1800px;
    margin-top:30px;
    padding-bottom:2rem;
    }
    nav>div{
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    max-width: 218px;
    font-size:1.2rem;
}
nav>button{
    font-weight:600;
    font-size: 1.6rem;
    background:linear-gradient(90deg,#ffcc33,#ff2fb3, #7b2cff);
    border:none;
    border-radius: 999px;
    padding:  12px 20px;
    cursor: pointer;
    color: white;
    display: none;
}
nav h2{
    font-weight: 700;
    font-size: 3rem;
    color: white;
    padding:0 14rem 0 0;
    background-image: url(./assets/hamburger-menu.png);
    background-position:right;
    background-repeat: no-repeat;
    width: 100%;
}
.banner-container>img{
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 600px;
 }
 .banner-container .img2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:998px;
    border: 2px solid #2A186C;
    position: absolute;
    top: 50%;
    left:50%;
    right: 50%;
    bottom: 50%;
    width: 50px;
    height: 50px;
    
 }
 .banner-container .img3{
    display: flex;
    justify-content: center;
    align-items: center;
     position: absolute;
    top: 50%;
    left:50%;
    bottom: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
 }
 
.banner-container{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 3rem;
}
button .btn-bg-color{
    display: flex;
    flex-direction:column
}


.about-section{
    margin-top: 300px;
    text-align: center;
    max-width: 580px;
    width: 100%;
    padding: 0 1rem;
    padding-top: 6rem;

}

.number-section .number-container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    padding:14px;
    width: 100%;
    max-height:400px;
}
.number-container{
    text-align: center;
    margin: 0 20px;
}

.aside-container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding:15px;
    width: 100%;
   
}

@media screen and (max-width: 576px) {
    .aside-container {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        justify-content: center;
        width: 100%;
    }

    .aside-container > div {
        width: 90%;             
        max-width: 390px;
        margin: 10px 0;        
        text-align: center;     
    }
}







/* aside {
    max-width: 1700px;
    color: white;
    text-align: center;
    padding-top: 120px;
    border-radius: 5px;
    padding-bottom: 125px;

} */
img .img2 .img3{
    width:100%;
    height:auto;
}


    
}